vendor
openvk.yml
update.pid
update.pid.old
Web/static/js/node_modules
Web/static/img
DateTime.php
AboutPresenter.php
AboutInstance.xml
/locales/


tmp/*
!tmp/api-storage
!tmp/themepack_artifacts/.gitkeep
themepacks/*
!themepacks/.gitkeep
themepacks/openvk_modern*
storage/*
!storage/.gitkeep
